@charset "utf-8";

/* 초기화 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 10px;
}

body {
    color: black;
    font: 1.5rem/1.8 'Verdana', sans-serif;;
    margin: 0 auto;

}

a {
    text-decoration: none;
    color: black;
}

/* header */
header {
    box-shadow: rgba(0, 0, 0, 0.16)0 .2rem .5rem 0, rgba(0, 0, 0, 0.12)0 .2rem .5rem 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

header nav {
    display: flex;
    justify-content: space-between;    
    padding: 1.4rem 3.6rem;
    align-items: center;
    /* background: green; */

}

header nav h1 {
    font-size: 1.5rem;
    letter-spacing: .4rem;
    font-weight: 400;
}

header nav h1 b{
    margin-right: 1.2rem;
}

nav ul {
    display: flex;
    list-style: none;
    /* background: red; */
    justify-content: center;
}

nav ul li {
    padding-left: 3.6rem;
    letter-spacing: .4rem;
}


/* /header */
/* section1 */









/* /section1 */

