@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font: 1.5rem/1.8 'Noto Sans KR', sans-serif;
    color: #333;
    outline: 15px solid yellow;

}

a {
    text-decoration: none;
    color: #333;
}

img {
    width: 100%;
    vertical-align: top;
}

li {
    list-style: none;
}

#wrap {
    width: 1200px;
    height: 1200px;
    outline: 15px solid yellow;
    margin: 0 auto;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!header!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* 헤더 영역 전체 설정 */
header {
    position: fixed;
    height: 54px;
    width: 100%;
    z-index: 9999;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 0;
    padding: 0;
    outline: 10px solid red;
    justify-content: space-between;

}

nav {
    display: flex;
    height: 100%;
}

nav div {

    /* margin: 1.5rem 0 0 2rem; */
    width: 88px;
    outline: 10px solid blue;

}

nav ul {
    height: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    outline: 10px solid gold;
}

nav li {
    height: 100%;
    width: 88px;
    text-align: center;
    outline: 10px solid lime;

    }

/* 네비 안의 li 요소 호버시 rgba효과 지정 */
header li:hover {
    background: rgba(100, 100, 100, 0.8);
}

/* 네비 자식 요소 플렉스 정렬되도록 지정 */


/* 네비 안의 div 너비 및 여백 지정 */


/* 네비 안의 div 안의 a태그 설정,
    크기 조절을 위해 블록요소로 지정,
    이미지를 불러왔고 크기가 부모보다 커서 
    크기를 div의 80%크기가 되도록 조정
     */
nav div a {
    display: block;
    width: 80%;
}

/* 네비게이션 우측 부분 설정 */
nav .right {
    display: flex;
    height: 54px;
    width: 400px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    transform: translateX(1040px);
}

/* 네비게이션 우측 안의 버튼(a태그) 정렬 */
.right a {
    width: 200px;
    padding-top: 12px;
    text-align: center;
}

/* 우측 네비의 가로 폭 지정,
   자식요소인 a태그, i(아이콘)와 input태그를 
   플렉스 정렬되도록 지정 */
.right .deep {
    display: flex;
    width: 480px;
    height: 54px;
    margin: 0;
}

/* 우측 네비 자식 요소인 i(아이콘) 영역 설정 */
.deep i {
    width: 48px;
    text-align: center;
    padding-top: 18px;
}

/* 우측 네비 자식 요소인 input 설정 */
.deep input {
    width: 240px;
    height: 32px;
    margin-top: 12px;
}













































/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!section1!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* 섹션1 설정 */
#section1 {
    height: 880px;
    margin-bottom: 32px;
    font-size: 8px;
}

/* 섹션1의 h1(로고) 설정*/
#section1 .logo {
    height: 32px;
    /* outline: 10px solid red; */
}

/* 섹션1안의 div인 section1의 설정 */
.section1 {
    display: flex;
    /* position: relative; */
    /* background-image: url(../images/main1.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    background-attachment: fixed; */
    width: 1496px;
    height: 880px;
    margin: 0 auto;
    /* outline: 10px solid red; */
    z-index: 9997;
    vertical-align: top;
}


.section1 p {
    /* position: absolute; */
    z-index: 1;
    left: 50%;
    bottom: 50%;
    padding: 16px;
    margin: 0 auto;
    width: 800px;
    transform: translate(-50%, -50%);
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    font-size: 1.5rem;
    white-space: pre;
}

.section1:hover p {
    animation: light 1s 2 forwards;
}

@keyframes light {
    0% {
        opacity: .8;
        animation-timing-function: ease-out;
    }

    50% {
        opacity: .4;
        animation-timing-function: ease-in;
    }

    100% {
        opacity: .8;
        animation-timing-function: ease-in;
    }
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!section3!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!section3!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!section3!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!footer!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!footer!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!footer!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* 푸터 설정 */
/* footer {
    height: 108px;
    margin: 0 auto;
    padding: 24px;
    text-align: center;
    color: #fff;
    background: #000;
} */

/* 푸터 영역이 검은색이라 글씨 흰색 적용 */
footer a {
    color: #fff;
}