<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{{>layouts/header}}

3.	<form class="container">
    4.	  <div class="mb-3">
    5.	    <label class="form-label">제목</label>
    6.	    <input type="text" class="form-control">
    7.	  </div>
    8.	  <div class="mb-3">
    9.	    <label class="form-label">내용</label>
    10.	    <textarea class="form-control" rows="3"></textarea>
    11.	  </div>
    12.	  <button type="submit" class="btn btn-primary">Submit</button>
    13.	</form>


{{>layouts/footer}}

</body>
</html>