@charset "utf-8";
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron&family=Play&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css');
@import url('typo.css');
@import url('nav.css');
@import url('layout.css');


/* 헤더 */
header {
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    background: transparent;
    /* background: rgb(14, 138, 255); */
}

/* 
.vid {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
 */

/* 섹션1 - 캐로셀 */
/* bx-wrapper을 초기화 */
.bx-wrapper {
    box-shadow: none;
    border: none;
    background: transparent;
}

#slideWrap {
    position: relative;
    height: 100vh;
    /* padding: 0 3%; */
}

#slideWrap .slider li {
    /* 뭐가 문제인지 찾아볼 것 */
    width: 100% !important;
    height: 100vh;
    padding: 150px 0;
    text-align: center;
    background: no-repeat 50% 50%/auto;
}

#slideWrap .slider li div {
    position: relative;
    top: 0;
    opacity: 0;
    font-size: 2rem;
    line-height: 1.8;
}

#slideWrap .slider li div span {
    display: block;
    font-size: 3.5rem;
}

#slideWrap .slider li img {
    display: inline-block;
}

/* 배경 */
#slideWrap .slider .bg1 {
    background-color: #FFC248;
    background-image: url(../images/0613pic/image\ 1.png);
}

#slideWrap .slider .bg2 {
    background-color: #FFC1B3;
    background-image: url(../images/0613pic/image\ 2.png);
}

#slideWrap .slider .bg3 {
    background-color: #FE8A7F;
    background-image: url(../images/0613pic/image\ 3.png);
}

#slideWrap .slider .bg4 {
    background-color: #C1554D;
    background-image: url(../images/0613pic/image\ 5.png);
}

/* 이전/이후 버튼 */
#slideWrap .btn {
    position: absolute;
    z-index: 999;
    top: 50%;
    transform: translateY(-50%);
    /* line-height: 100px; */
    width: 100%;
    height: 50px;
}

#slideWrap .btn a {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5rem;
    color: #fff;
    transition: .3s;
}

#slideWrap .btn a:hover {
    color: #333;
}

#slideWrap #prev {
    left: 10%;
}

#slideWrap #next {
    right: 10%;
}

/* 페이저 */
#slideWrap .pager {
    display: flex;
    z-index: 999;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

#slideWrap .pager a {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #999;
    margin: 0 15px;
    transition: .3s;
    cursor: pointer;
}

#slideWrap .pager a img {
    /* 이미지 크기 100%로 초기화를 제거*/
    width: auto;
    opacity: 0;
    transform: translate(-40%, -40%);
    transition: 0.5s;
}

#slideWrap .pager a.active img {
    opacity: 1;
}














/* section2 */

#section2 {
    position: relative;
    background: lightblue url(../assets/2023_summer1_pick_bg_1.jpg) no-repeat 50% 50%/cover fixed;
}

/* 고스트(ghost) 버튼 */
#section2 .btn {
    position: absolute;
    left: 600px;
    top: 670px;
    /* 투명 배경 */
    background: transparent;
    opacity: 0;
    transition: 3s;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 10px 18px;
}

.txt {
    position: absolute;
    width: 360px;
    transition: 2s;
    text-align: right;
}

.txt1 {
    left: -800px;
    top: 220px;
    height: 210px;
}

.txt2 {
    left: -400px;
    top: 448px;
    height: 160px;
}

#product {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 800px;
    width: 882px;
    height: 554px;
}

#product>div {
    position: absolute;
    transition: .3s;
}

#product .prod1 {
    left: 50px;
    top: 90px;
    width: 255px;
    height: 350px;
    background: red;
    transform: rotate(-18deg);
}

#product>div:hover {
    z-index: 1;
    transform: scale(1.2);
}

#product .prod2 {
    left: 278px;
    top: 0;
    width: 250px;
    height: 350px;
    background: green;
}

#product .prod3 {
    left: 490px;
    top: 65px;
    width: 325px;
    height: 445px;
    background: blue;
    transform: rotate(18deg);
}

/* /section2 */


#section3 {
    background: lightgoldenrodyellow;
}