@charset "utf-8";
/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header::after, .contents::after, footer:after {
    content: '';
    clear: both;
    display: block;
} */

/* 공통 */
#wrab {
    /* 가운데 맞춤 */
    width: 1200px;
    margin: 0 auto;
}
img {
    width: 100%;
}

header, #contents, footer {
    display: flex;
}
/* .logo, nav, #contents div, footer div {
    float: left;
} */

/* 헤더 */
    /* 로고200px 내비게이션 1000px*/

.logo {
    width: 200px;
    height: 100px;
    background: lightseagreen;
}

nav {
    width: 1000px;
    height: 100px;
    background: lightsalmon;
}

nav ul{
    display: inline;
}

/* 슬라이드 */
#slide {
    width: 1200px;
    height: 300px;    
    overflow: hidden;
}

#slide ul {
    position: relative;
    left: 0;
    width: 400%;
    display: flex;
    animation: slide 16s infinite;
}

@keyframes slide {
    0% {left: 0;}
    5% {left: -100%;}
    33% {left: -100%;}
    38% {left: -200%;}
    66% {left: -200%;}
    71% {left: -300%;}
    /* 소숫점 5자리 까지 적용 가능 */
    99.99999% {left: -300%;}
    100% {left: 0;}
}

/* 메인 콘텐츠 */
#contents div {
    width: 400px;
    height: 200px;
}

.tabs {
    background: springgreen;
}
.banner {
    background: khaki;
}
.shortcut {
    background: aqua;
}

/* 푸터 */
#footer {
    background: lightgoldenrodyellow;
}

.b_logo {
    width: 200px;
    height: 100px;
    background: brown;
}

.addr {
    width: 800px;
    height: 100px;
    background: orchid;
}

.sns {
    width: 200px;
    height: 100px;
    background: rosybrown;
}