@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

li {
    list-style: none;   
}

img {
    width: 100%;
}

body {
    font: 1.5rem/1.8 'Noto Sans KR' , sans-serif;
    color: #333;
}

a{
    text-decoration: none;
    color:#777;
}

/* header::after, .contents::after, footer:after {
    content: '';
    clear: both;
    display: block;
} */

/* 공통 */
#wrap {
    /* 가운데 맞춤 */
    width: 1200px;
    margin: 0 auto;
    /* background: yellow; */
}

header {
    display: flex;
    /* 로고와 네비게이션을 좌우측으로 보내기위해 사용 */
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

/* .logo, nav, #contents div, footer div {
    float: left;
} */

/* 헤더 */
    /* 로고200px 내비게이션 1000px*/

.logo {
        width: 200px;
        /* background: lightpink; */
    }

/* 내비게이션 */
nav .main {
    display: flex;
}

/* .main > li */

nav li {
    width: 150px; 
    margin-left: 8px;
    text-align: center;
    /* background: #111111; 16진수 코드 */
}

nav .main > li:hover {
    background: #000000;
}

nav .main > li:hover > a {
    color: #ffffff;
}


nav .main > li > a {
    font-size: 1.8rem;
    color: #000000;
}


nav .sub {
    display: none;
}

/* 슬라이드 */
#slide {
    width: 1200px;
    height: 300px;    
    overflow: hidden;
    /* margin: 0 auto; */
}

#slide ul {
    position: relative;
    left: 0;
    display: flex;
    width: 400%;
    animation: slide 9s infinite;
}

@keyframes slide {
    0% {left: 0;}
    5% {left: -100%;}
    33% {left: -100%;}
    38% {left: -200%;}
    66% {left: -200%;}
    71% {left: -300%;}
    /* 소숫점 5자리 까지 적용 가능 */
    99.99999% {left: -300%;}
    100% {left: 0;}
}

#slide img {
    height: 300px;
}


/* 메인 콘텐츠 */
#contents{
    display: flex;
    padding: 8px 0;
}

#contents > div {
    width: 400px;
    height: 200px;
    /* background: #000; */
}

/* 탭 메뉴 */
.tabs {
    padding: 24px 24px 24px 0;
    background-clip: content-box;
}

.tabs input, .tabs > div {
    display: none;
}

#btn1:checked ~ #tab1, #btn2:checked ~ #tab2 {
    display: block;
}

/* 탭 메뉴 - 제목/버튼 */
.tabs label {
    /* display: inline-block; */
    background: #ebdaca;
    color: #000000;
    padding: 4px 16px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 500;
}

#btn1:checked + label, #btn2:checked + label {
    background: #eee;
    color: #000000;
    font-size: 1.6rem;
    font-weight: 400;
}


/* 탭 메뉴 - 공지사항 */
#tab1 li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #ccc;
    white-space: nowrap;
}

#tab1 a {
    width: 300px;
    white-space: nowrap;
    /* 말 줄임 ...효과 */
    text-overflow: ellipsis;
    /* border: 1px solid red; */
}

#tab1 a:hover {
    color: #000000;
}

/* 탭 메뉴 - 갤러리 */
#tab2 a {
    display: inline-block;
    width: 110px;
    margin-right: 8px;
    background: #000000;
}

/* 배너 */
.banner {
    background: khaki;
}
/* 바로가기 */
.shortcut {
    background: aqua;
}

/* 푸터 */
footer {
    display: flex;
    color: #eeeeee;
    padding-left: 350px;
    background: #000000 url(../images/nikelogo_white.png) no-repeat 30px 50%;
}


.addr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    height: 100px;
}

.sns {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    font-size: 3rem;
    flex: 0 0 200px;
    height: 100px;
    /* background: red; */
}

.sns a:hover {
    transform: scale(1.2, 1.2);
}

.sns a {
    margin: 0 8px;
    color: #eeeeee;
    transition: .4s;
}

.sns a:nth-of-type(1):hover {
    color: #395498;
}
.sns a:nth-of-type(2):hover {
    color: #ff09b5;
}
.sns a:nth-of-type(3):hover {
    color: #fffb07;
}
.sns a:nth-of-type(4):hover {
    color: #ff0000;
}